* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

.one {
    background-image: url("https://scontent.fbkk13-1.fna.fbcdn.net/v/t39.30808-6/550354742_1360278525460196_7171572624486093977_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=833d8c&_nc_ohc=TfNWuX40V7cQ7kNvwFVlCHU&_nc_oc=AdlPn8JbTuZzerDxVrpNVg7gOOaJPXvmDirFu7ScuMjU3LXcmfDZ2Hyv0Q4kw9vj-vEO5en74YVdE0tRttkncviZ&_nc_zt=23&_nc_ht=scontent.fbkk13-1.fna&_nc_gid=_msdn_OvAb9R9YiYryZL7Q&oh=00_AfZusFolncHVSWx1Bdcoe_q3UMYHTZAxOziJebl5DgV56w&oe=68DA8A30");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 50%;
    position: relative;
}

.first {
    padding: 0;
    margin: 0;
    font-weight: bold;
    justify-content: center;
    color: #2E475D;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.two {
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.second {
    padding: 0;
    margin: 0;
    font-weight: bold;
    justify-content: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.three {
    background-image: url("https://www.synova.biz/images/uploads/product/169/Butter-croissant%20(diamond%20shape).jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 50%;
    position: relative;
}

.third {
    padding: 0;
    margin: 0;
    justify-content: center;
    color: black;
    opacity: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
